name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: ${{ secrets.EC2_SSH_KEY }}
    
    - name: Copy files to EC2
      run: |
        scp -r -o StrictHostKeyChecking=no . ec2-user@${{ secrets.EC2_HOST }}:/ec2-user/Manuel_final

    - name: Deploy with Docker Compose
      run: |
        ssh -o StrictHostKeyChecking=no ec2-user@${{ secrets.EC2_HOST }} << 'EOF'
        cd ec2-user/Manuel_final
        docker-compose down
        docker-compose up -d --build
        EOF
